//screen resolution

// Mode: Desktop
@desktop-area: 1368px;

// Mode: laptop
@max-width-laptop: 1367px;
// Area меняется всего один раз
@laptop-area: 100%;

// Mode: Tablet
@max-width-tablet: 1023px;

// Mode: mobile
@max-width-mobile: 767px;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  width: @desktop-area;
  margin: 0 auto;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  @media screen and (max-width: @max-width-laptop) {
    width: @laptop-area;
    padding-left: 22px;
    padding-right: 22px;
  }
  //   @media screen and (max-width: @max-width-tablet) {
  //     width: @tablet-area;
  //   }
  //   @media screen and (max-width: @max-width-mobile) {
  //     width: @mobile-area;
  //     padding: 0 8px;
  //   }
  //   @media screen and (max-width: @max-width-mini) {
  //     width: @mini-area;
  //     padding: 0 20px;
  //   }
}
