.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  background-color: red !important;
}

.section-hero {
  .hero-wr {
    .right-block {
      .hero-slider-wr {
        .hero-slider__list {
          .slick-list {
            @media screen and (max-width: @max-width-laptop) {
              // margin: 0 -8px;
            }
            .slick-slide {
              @media screen and (max-width: @max-width-laptop) {
                // margin: 0 8px;
              }
              @media screen and (max-width: @max-width-tablet) {
                width: 328px;
                margin-right: 15px;
              }
              .hero-slider__item {
                .img-big {
                  object-fit: cover;
                  height: 100%;
                  @media screen and (max-width: @max-width-tablet) {
                    display: none;
                  }
                }
                .img-small {
                  display: none;
                  @media screen and (max-width: @max-width-tablet) {
                    display: block;
                  }
                }
              }
            }
          }
          .arrow-slider {
            top: 50%;
            transform: translateY(-50%);
            &.a-prev {
              left: 32px;
              @media screen and (max-width: @max-width-tablet) {
                left: 10px;
              }
            }
            &.a-next {
              right: 32px;
              @media screen and (max-width: @max-width-tablet) {
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.section-assortment {
  .assortment-slider-wr {
    .slick-list {
      margin: 0 -12px;
      @media screen and (max-width: @max-width-laptop) {
        margin: 0 -8px;
      }
      @media screen and (max-width: @max-width-mobile) {
        margin: 0;
      }
      .slick-slide {
        margin: 0 12px;
        @media screen and (max-width: @max-width-laptop) {
          margin: 0 8px;
        }
        @media screen and (max-width: @max-width-mobile) {
          width: 216px;
        }
      }
    }
    .arrow-slider {
      top: -83px;
      &.a-prev {
        right: 48px;
      }
      &.a-next {
        right: 0;
      }
    }
  }
}

.arrow-slider {
  position: absolute;
  z-index: 50;
  background: #1a1b1d;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.a-next {
    img {
      transform: rotate(180deg);
    }
  }
}

// .hero-slider__img {
//   height: 552px;
//   background-position: center;
// }
