header {
  margin-bottom: 48px;
  .header-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 17px;
    border-bottom: 1px solid @grey;
  }
  .nav {
    display: flex;
    @media screen and (max-width: @max-width-mobile) {
      flex-direction: column;
      align-items: flex-end;
    }
    .nav__item {
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 32px;
        @media screen and (max-width: @max-width-mobile) {
          margin-right: 0;
        }
      }
    }
  }
}

main {
  .section-hero {
    .hero-wr {
      display: flex;
      padding-top: 47px;
      padding-bottom: 40px;
      border-bottom: 1px solid @grey;
      @media screen and (max-width: @max-width-tablet) {
        flex-direction: column;
      }
      .left-block {
        display: flex;
        align-items: center;
        .hero__title {
          font-size: 40px;
          max-width: 270px;
          @media screen and (max-width: @max-width-tablet) {
            font-size: 36px;
            margin-bottom: 48px;
            max-width: 440px;
          }
        }
      }
      .right-block {
      }
    }
  }
  .section-about {
    .about-wr {
      display: flex;
      padding-top: 47px;
      padding-bottom: 88px;
      border-bottom: 1px solid @grey;
      @media screen and (max-width: @max-width-tablet) {
        flex-direction: column;
        padding-bottom: 72px;
      }
      .right-block {
        p {
          font-size: 17px;
          line-height: 24px;
          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
  .section-advantages {
    .advantages-wr {
      display: flex;
      padding-top: 47px;
      padding-bottom: 40px;
      border-bottom: 1px solid @grey;
      @media screen and (max-width: @max-width-tablet) {
        flex-direction: column;
        // padding-bottom: 72px;
      }

      .left-block {
        .advantages__title {
        }
      }
      .right-block {
        .advantages__list {
          display: flex;
          justify-content: space-between;
          @media screen and (max-width: @max-width-laptop) {
            flex-direction: column;
          }
          @media screen and (max-width: @max-width-tablet) {
            flex-direction: row;
          }
          @media screen and (max-width: @max-width-mobile) {
            flex-direction: column;
          }
          .advantages__item {
            max-width: 270px;
            @media screen and (max-width: @max-width-laptop) {
              max-width: 100%;
              margin-bottom: 33px;
            }

            @media screen and (max-width: @max-width-tablet) {
              width: calc((100% - 64px) / 3);
            }

            @media screen and (max-width: @max-width-tablet) {
              width: 100%;
            }

            &:not(:last-child) {
              @media screen and (max-width: @max-width-tablet) {
                margin-right: 32px;
              }
              @media screen and (max-width: @max-width-mobile) {
                margin-right: 0;
              }
            }

            .advantages-item__number {
              font-family: Oswald;
              font-size: 50px;
              color: @green;
              margin-bottom: 30px;
            }
            .advantages-item__text {
              font-size: 17px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  .section-assortment {
    .assortment-wr {
      padding-top: 45px;
      padding-bottom: 72px;
      border-bottom: 1px solid #f0eee9;
      .assortment__title {
        margin-bottom: 48px;
      }
    }
  }

  .section-contacts {
    .contacts-wr {
      padding-top: 48px;
      .contacts__title {
        margin-bottom: 56px;
        @media screen and (max-width: @max-width-tablet) {
          margin-bottom: 40px;
        }
      }
      .contacts-content {
        display: flex;
        @media screen and (max-width: @max-width-tablet) {
          flex-direction: column;
        }
        .left-block {
          .contacts-text {
            display: flex;
            flex-direction: column;
            padding-right: 25px;
            height: 100%;
            @media screen and (max-width: @max-width-tablet) {
              margin-bottom: 40px;
            }
            .section-subtitle {
              font-family: Oswald;
              font-weight: 600;
              font-size: 20px;
              text-transform: uppercase;
              margin-bottom: 16px;
            }
            .contacts-text__address {
              font-size: 17px;
              color: @grey-dark;
              margin-bottom: 16px;
              max-width: 330px;
              line-height: 24px;
            }
            .contacts-links {
              font-family: Oswald;
              font-weight: 600;
              font-size: 20px;
              text-transform: uppercase;
              .contacts-links__tel {
                margin-right: 16px;
              }
              a {
                color: @green;
              }
            }
            .contacts-text__form {
              @media screen and (max-width: @max-width-tablet) {
                display: none;
              }
            }
          }
        }
        .right-block {
          .yandex-map {
            filter: grayscale(1);
          }
        }
        .contacts-content__form {
          margin-top: 40px;
          display: none;
          @media screen and (max-width: @max-width-tablet) {
            display: block;
          }
        }
        form {
          margin-top: auto;
          padding-right: 25px;
          @media screen and (max-width: @max-width-tablet) {
            padding-right: 0;
          }
          .form__title {
            font-weight: 600;
            font-size: 20px;
            text-transform: uppercase;
            font-family: Oswald;
            margin-bottom: 16px;
          }
          .input-wr {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            input {
              width: 100%;
              padding: 20px 16px;
              box-shadow: inset 0px -1px 0px #f0eee9;
              border: none;
            }
          }
        }
      }
    }
  }

  .left-block {
    width: 448px;
    // background-color: red;
    flex-shrink: 0;
    @media screen and (max-width: @max-width-laptop) {
      width: 38%;
    }
    @media screen and (max-width: @max-width-tablet) {
      width: 100%;
    }
  }
  .right-block {
    width: calc(100% - 448px);
    // flex-grow: 1;
    // width: 500px;
    @media screen and (max-width: @max-width-laptop) {
      width: 62%;
    }
    @media screen and (max-width: @max-width-tablet) {
      width: 100%;
    }
  }
}

footer {
  .footer-wr {
    padding-top: 40px;
    font-size: 14px;
    padding-bottom: 16px;
  }
}
