<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.bundle.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant:700|Open+Sans&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/bundle.js?v=2"></script>
    <title>main Title</title>
</head>
<body class="order-layout">
<div class="overflow-body"></div>
    <header class="container">
        <div class="header-row">
            <section class="header-content">
                <a class="logo" href="/">
                    <img src="/src/img/logo.svg">
                </a>
            </section>
        </div>
    </header>
    <main>
        {{content}}
    </main>
    <footer>
    <div class="footer container">
        <div class="footer__item">
            <div class="footer__title">Обслуживание клиентов</div>
            <ul class="footer__list">
                <li class="footer__link">
                    <a href="/contacts.html">Связаться с нами</a>
                </li>
                <li class="footer__link">
                    <a href="/delivery.html">Доставка</a>
                </li>
                <li class="footer__link">
                    <a href="/payment.html">Оплата</a>
                </li>
                <li class="footer__link">
                    <a href="/refund.html">Обмен и возврат</a>
                </li>
            </ul>
        </div>
        <div class="footer__item">
            <div class="footer__title">О step.ru</div>
            <ul class="footer__list">
                <li class="footer__link">
                    <a href="/about.html">О компании</a>
                </li>
                <li class="footer__link">
                    <a href="/services.html">Сервис</a>
                </li>
                <li class="footer__link">
                    <a href="/oferta.html">Оферта</a>
                </li>
            </ul>
        </div>
        <div class="footer__item footer_item_social">
            <div class="footer__title">мы в социальных сетях</div>
            <ul class="footer__social-row">
                <a href="/" class="footer__social-link">
                    <svg height="18" width="10">
                        <use xlink:href="/src/img/svg-sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
                <a href="#/" class="footer__social-link">
                    <svg height="16" width="16">
                        <use xlink:href="/src/img/svg-sprite.svg#icon-insta"></use>
                    </svg>
                </a>
                <a href="/" class="footer__social-link">
                    <svg height="16" width="39">
                        <use xlink:href="/src/img/svg-sprite.svg#icon-youtube"></use>
                    </svg>
                </a>
            </ul>
        </div>
    </div>
    <div class="footer__copyright container">
        <span class="footer__copyright-text">© 2018 step.ru</span>
    </div>
</footer>
</body>
</html>
