<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.bundle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=PT+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/bundle.js?v=2"></script>
    <title>main Title</title>
  </head>
  <body>
    <div class="overflow-body"></div>
    <header>
      <div class="container">
        <div class="header-wr">
          <a class="logo" href="http://"> <img src="/src/img/raft-logo.svg" alt="" srcset="" /></a>
          <nav class="nav">
            <div class="nav__item">Компания</div>
            <div class="nav__item">Ассортимент</div>
            <div class="nav__item">Контакты</div>
          </nav>
        </div>
      </div>
    </header>
    <main>{{content}}</main>
    <footer>
      <div class="container">
        <div class="footer-wr">&copy; Raft.ru 2021</div>
      </div>
    </footer>
  </body>
</html>
