.section-title {
  font-family: Oswald;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  @media screen and (max-width: @max-width-tablet) {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

body {
  color: @black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
