<div class="services-page container">
    {{breadcrumbs}}
    <div class="services__row">
        <aside class="services__sidebar">
            <ul class="services__nav">
                <li class="selected"><a href="/contacts.html">о компании</a></li>
                <li><a href="/service.html">сервис</a></li>
                <li><a href="/privacy-policy.html">Оферта</a></li>
            </ul>
        </aside>
        <div class="services__content">
            <h1 class="services__title title-h1">о компании</h1>
            <div class="accordion accordion_no-icon accordion_opacity">
                <div class="accordion-item opened">
                    <div class="accordion-title">
                        ЭКСПРЕСС-ДОСТАВКА DPD
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Служба DPD выполняет доставку товаров как по предоплате, так и с оплатой при получении После оформления заказа ему присваивается трек-номер, который высылается покупателю по СМС.
                            Отслеживать отправление можно на сайте <a href="https://www.dpd.ru/" class="link">dpd.ru.</a></p>

                        <p class="mini-t">Время доставки: понедельник – пятница, с 09:00 до 18:00.</p>
                        <p>
                            Сотрудники курьерской службы связываются с получателем по телефону и согласовывают удобное время доставки.<br>
                            Курьеры принимают оплату наличными и картой. Время обслуживания одного покупателя (включая примерку) – до 20 минут.</p>
                        <p>Посылка выдается только при предъявлении документа, удостоверяющего личность.</p>
                        <p class="mini-t">Внимание!</p>
                        <p>Служба экспресс-доставки DPD не занимается возвратом товаров. Чтобы вернуть вещи, которые вам не подошли, обратитесь в отдел по работе с клиентами Q Group по телефону:
                            <br>ХХХ ХХХХ ХХХХ<br> <a href="/refund.html" class="link">Условия и порядок возврата</a></p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        ЭКСПРЕСС-ДОСТАВКА DHL
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>После оформления заказа ему присваивается трек-номер, который высылается покупателю по СМС. Отслеживать отправление можно на сайте
                            <a href="https://express.dhl.ru/" class="link">express.dhl.ru</a></p>

                        <p class="mini-t">Время доставки: понедельник – пятница, с 09:00 до 18:00.</p>
                        <p>Сотрудники курьерской службы связываются с получателем по телефону и согласовывают удобное время доставки.</p>
                        <p>Посылка выдается только при предъявлении документа, удостоверяющего личность.</p>
                        <p class="mini-t">Внимание!</p>
                        <p>Служба экспресс-доставки DPD не занимается возвратом товаров. Чтобы вернуть вещи, которые вам не подошли, обратитесь в отдел по работе с клиентами Q Group по телефону:
                            <br>ХХХ ХХХХ ХХХХ<br><a href="/refund.html" class="link">Условия и порядок возврата</a></p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        ДОСТАВКА КУРЬЕРСКОЙ СЛУЖБОЙ Q GROUP
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p class="pre-list">Покупателям из Набережных Челнов, Нижнекамска и Елабуги мы предлагаем бесплатную доставку товаров собственной курьерской службой Q Group:</p>
                        <ul class="simple-list">
                            <li>доставим в течение 1–2 дней с момента оформления заказа;</li>
                            <li>привезем в любой день, включая выходные и праздники;</li>
                            <li>по телефону согласуем удобное для вас время доставки;</li>
                            <li>доставим домой или в офис.</li>
                        </ul>
                        <p>До приезда курьера вы можете изменить адрес, дату, время доставки, а также отменить заказ. Чтобы получить заранее оплаченный товар, необходимо предъявить документ, удостоверяющий личность. Оплата курьеру возможна наличными или банковской картой. Покупателю выдается чек.</p>

                        <p class="mini-t">Примерка</p>
                        <ul class="simple-list">
                            <li>В момент доставки можно примерить заказанные вещи и оплатить только те из них, которые вам подошли.</li>
                            <li>Примерка может быть осуществлена только в помещениях, допускающих присутствие курьера.</li>
                            <li>В случае если это невозможно, товары могут быть переданы для примерки после полной оплаты их стоимости.</li>
                        </ul>

                        <p>По всем вопросам обращайтесь в службу поддержки по телефону: ХХ-ХХ-ХХ</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        САМОВЫВОЗ ИЗ БУТИКОВ СЕТИ Q GROUP
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Ваш заказ может быть доставлен в любой из наших магазинов.<br>
                            Бутики работают без выходных. Во всех торговых залах есть комфортные примерочные: вы сможете примерить выбранные вещи и приобрести только те из них, которые вам подойдут.<br>
                            При получении заранее оплаченного товара необходимо предъявить документ, удостоверяющий личность.
                        </p>
                        <p>Товары, оплаченные при оформлении заказа, хранятся в магазине 14 дней, не оплаченные – 3 дня.</p>
                        <p>По всем вопросам обращайтесь в службу поддержки по телефону: ХХ-ХХ-ХХ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>