<div class="basket-page container">
    {{breadcrumbs}}
    <div class="basket-empty-block">
        <div class="title-h1">ваша корзина пуста</div>
        <a href="catalog.html" class="btn">начать шоппинг</a>
    </div>
</div>

<div class="mailing-block mailing-block-img" style="background-image: url(/src/img/index/mail.jpg)">
    <div class="container">
        <div class="mailing__content">
            <div class="title-h3">Подпишитесь на нашу рассылку</div>
            <form action="/" method="post" id="MAILINGFORM" class="mailing__form">
                <div class="mailing__left">
                    <div class="input-text-row">
                        <input type="email" placeholder="Введите вашу почту" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="mailing__check-row">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Женщинам
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Мужчинам
                        </label>
                    </div>
                </div>
                <button class="mailing__btn btn btn-send-form">отправить</button>
            </form>
        </div>
    </div>
</div>

