<div class="basket-page checkout-page container">
    {{breadcrumbs}}
    <div class="basket__title-row">
        <h1 class="title-h1">КОРЗИНА</h1>
        <div class="basket__count">( 1 товар)</div>
    </div>
    <div class="basket-wr">
            <ul class="basket-list">
                <li class="product-in-basket">
                    <a href="/product.html" class="img-block">
                        <img src="/src/img/product/pr1.jpg">
                    </a>
                    <div class="product-info-block">
                        <div class="product-brand">carlo pazolini</div>
                        <div class="product-name">Кожанные туфли с открытой пяткой</div>
                        <div class="product-price rub-price">5 050</div>

                        <ul class="product-property">
                            <li>Цвет: бежевый</li>
                            <li>Размер: 38</li>
                        </ul>

                        <div class="product-delete link link_grey">Удалить</div>
                    </div>
                </li>
                <li class="product-in-basket">
                    <a href="/product.html" class="img-block">
                        <img src="/src/img/product/pr2.jpg">
                    </a>
                    <div class="product-info-block">
                        <div class="product-brand">carlo pazolini</div>
                        <div class="product-name">Кожанные туфли с открытой пяткой</div>
                        <div class="product-price rub-price">5 050</div>

                        <ul class="product-property">
                            <li>Цвет: бежевый</li>
                            <li>Размер: 38</li>
                        </ul>

                        <div class="product-delete link link_grey">Удалить</div>
                    </div>
                </li>
                <li class="product-in-basket">
                    <a href="/product.html" class="img-block">
                        <img src="/src/img/product/pr3.jpg">
                    </a>
                    <div class="product-info-block">
                        <div class="product-brand">carlo pazolini</div>
                        <div class="product-name">Кожанные туфли с открытой пяткой</div>
                        <div class="product-price rub-price">5 050</div>

                        <ul class="product-property">
                            <li>Цвет: бежевый</li>
                            <li>Размер: 38</li>
                        </ul>

                        <div class="product-delete link link_grey">Удалить</div>
                    </div>
                </li>
            </ul>

            <div class="total-checkout">
                <div class="total-checkout-wr">
                    <div class="total-checkout-title">ваш заказ</div>
                    <div class="promocod-block">
                        <div class="input-text-row">
                            <input type="text" placeholder="Ввести промокод">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <button class="btn btn_secondary">применить</button>
                    </div>
                    <div class="action-total">
                        <div class="action-row">
                            <span>Товары (3)</span>
                            <span class="rub-price">15 050</span>
                        </div>
                        <div class="action-total-group">
                            <div class="action-row sale">
                                <span>Скидка</span>
                                <span class="rub-price">1 000</span>
                            </div>
                            <div class="action-row total">
                                <span>Итого</span>
                                <span class="rub-price">15 050</span>
                            </div>
                        </div>
                    </div>
                    <a href="/order.html" class="btn total-checkout-btn">перейти к оформлению</a>
                </div>
            </div>
        </div>
</div>