<div class="brand-page catalog-page">
    <section class="head-brand" style="background-image: url(/src/img/index/brand-banner.jpg)">

        <div class="head-brand__text">
            <h1 class="title-h1">Jeannot</h1>
            <div class="head-brand__spoiler spoiler" id="spoilerBrand">
                <div class="head-brand__spoiler-text spoiler__body">История испанского бренда ADOLFO DOMINGUEZ началась в 1973 году, после возвращения молодого Адольфо Домингеза домой в Галисию, завершившего обучение дизайну одежды и кино в Париже и Лондоне. В городе Оуренсе двадцатитрехлетний юноша взял в свои руки управление фамильной швейной фабрикой и открыл первый собственный магазин. 1980-е годы стали временем расцвета марки, когда Адольфо Домингез смог не только развить собственный бренд, но и вывести испанскую моду на новый уровень. Он стал одним из первых, кто отказался от синтетических тканей и ввел в моду изделия из льна. Дизайнер был одним из немногих европейских модельеров, которому доверили одеть героев нашумевшего голливудского сериала «Детектив Нэш Бриджес», где актер Дон Джонсон носит легкие сорочки и льняные костюмы от Адольфо Домингеза.
                </div>
                <span class="head-brand__spoiler-btn spoiler__btn">...показать полностью</span>
            </div>
        </div>
    </section>

    <div class="container">
        {{breadcrumbs}}
        <div class="catalog__wr">
            <aside class="smartfilter">
                <form id="filters" name="_form" action="/" method="get" class="smartfilter__form"></form>
                <div class="smartfilter__title-row">
                    <div class="smartfilter__title">Фильтры</div>
                    <div class="smartfilter__close">
                        <svg height="12" width="12">
                            <use xlink:href="/src/img/svg-sprite.svg#icon-close"></use>
                        </svg>
                    </div>
                </div>
                <div class="smartfilter__list accordion">
                    <div class="smartfilter__item accordion-item opened">
                        <div class="smartfilter__item-title accordion-title">
                            тип обуви
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="smartfilter__item-content accordion-content">
                            <ul class="categories">
                                <li><a href="catalog.html">Вся женская обувь</a></li>
                                <li><a href="catalog.html">Вся мужская обувь</a></li>
                                <li><a href="catalog.html">Балетки</a></li>
                                <li><a href="catalog.html">Босоножки</a></li>
                                <li><a href="catalog.html">Ботильоны</a></li>
                                <li><a href="catalog.html">Ботинки</a></li>
                                <li><a href="catalog.html">Кеды</a></li>
                                <li><a href="catalog.html">Кроссовки</a></li>
                                <li><a href="catalog.html">Мокасины</a></li>
                                <li><a href="catalog.html">Полуботинки</a></li>
                                <li><a href="catalog.html">Сандалии</a></li>
                                <li><a href="catalog.html">Сапоги</a></li>
                                <li><a href="catalog.html">Туфли</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="smartfilter__item accordion-item">
                        <div class="smartfilter__item-title accordion-title">
                            бренд
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="smartfilter__item-content accordion-content">
                            <div class="smartfilter__brand-search input-text-row">
                                <input type="text" class="smartfilter__brand-input" placeholder="введите название бренда" autocomplete="off" autocorrect="off">
                            </div>
                            <div class="smartfilter__item-scroll scrollbar-inner">
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">0-9</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                'S MAXMARA
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                2M2W
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                2MBOSO
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                7 FOR ALL MANKIND
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">A</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                AIIM
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                AT
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">b</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                BEATRICE B
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                BOSS
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">0-9</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                'S MAXMARA
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                2M2W
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                2MBOSO
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                7 FOR ALL MANKIND
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">A</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                AIIM
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                AT
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">b</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                BEATRICE B
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                BOSS
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">0-9</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                'S MAXMARA
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                2M2W
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                2MBOSO
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                7 FOR ALL MANKIND
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">A</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                AIIM
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                AT
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="smartfilter__brand-item">
                                    <div class="smartfilter__brand-letter">b</div>
                                    <ul class="brands">
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                BEATRICE B
                                            </label>
                                        </li>
                                        <li>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <i class="checkbox-custom"></i>
                                                BOSS
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="smartfilter__brand-not-found">Ничего не найдено</div>
                        </div>
                    </div>
                    <div class="smartfilter__item accordion-item">
                        <div class="smartfilter__item-title accordion-title">
                            размер
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="smartfilter__item-content accordion-content">
                            <div class="smartfilter__item-scroll scrollbar-inner">
                                <ul class="sizes">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            40 (RUS)
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            42 (RUS)
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            44 (RUS)
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            46 (RUS)
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            48 (RUS)
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            50 (RUS)
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            52 (RUS)
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="smartfilter__item accordion-item">
                        <div class="smartfilter__item-title accordion-title">
                            цвет
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="smartfilter__item-content accordion-content scrollbar-custom">
                            <div class="smartfilter__item-scroll scrollbar-inner">
                                <ul class="colors">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            айвори
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            аква
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            баклажан
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            белый
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            вишня
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            горчица
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            <i class="checkbox-custom"></i>
                                            желтый
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="smartfilter__item accordion-item">
                        <div class="smartfilter__item-title accordion-title">
                            цена
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="smartfilter__item-content accordion-content">
                            <div class="smartfilter__price">
                                <input form="filters" type="number" name="price_min" placeholder="от 1500" min="1500" max="57630" value="">
                                <input form="filters" type="number" name="price_max" placeholder="до 57630" min="1500" max="57630" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="catalog__product-wr">
                <div class="catalog__product-top">
                    <div class="catalog__product-left">
                        <div class="catalog__title-row">
                            <h1 class="title-h1">женская обувь</h1>
                            <span class="catalog__amount">125 позиций</span>
                        </div>
                        <div class="catalog__filter-result">
                            <ul class="catalog__filter-result-list">
                                <li>
                                    <span class="catalog__filter-result-item">цвет: Красный</span>
                                    <i class="catalog__filter-item-close"></i>
                                </li>
                                <li>
                                    <span class="catalog__filter-result-item">размер: 37; 37,5 </span>
                                    <i class="catalog__filter-item-close"></i>
                                </li>
                                <li>
                                    <span class="catalog__filter-result-item">бренд: manolo blanik; jimmy choo; christian</span>
                                    <i class="catalog__filter-item-close"></i>
                                </li>
                                <li>
                                    <span class="catalog__filter-result-item">цвет: Красный</span>
                                    <i class="catalog__filter-item-close"></i>
                                </li>
                            </ul>
                            <input class="clean-filter link" type="submit" name="del_filter" value="Сбросить все фильтры" form="filters">
                        </div>
                    </div>
                    <div class="catalog__sort-row">
                        <div class="custom-select select_sort">
                            <select class="hidden-select">
                                <option value="123" selected>По умолчанию</option>
                                <option value="124">Цена по возрастанию</option>
                                <option value="128">Цена по убыванию</option>
                                <option value="125">По рейтингу</option>
                                <option value="126">По заказам</option>
                                <option value="127">По отзывам</option>
                            </select>
                            <div class="custom-select__title">
                                <span>Сортировать</span>
                                <svg height="16">
                                    <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-bottom"></use>
                                </svg>
                            </div>
                            <div class="custom-select__content">
                                <div class="custom-select__list">
                                    <ul>
                                        <li class="custom-select__option selected">
                                            <span class="select-val">По умолчанию</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Цена по возрастанию</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Цена по убыванию</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">По рейтингу</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">По заказам</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">По отзывам</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__filter-mobile">Фильтры</div>
                    </div>
                </div>
                <ul class="product-mesh product-mesh_sidebar">
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                    </li>
                </ul>

                <div class="pagination-block">
                    <div class="btn btn_secondary pagination__show-more">показать ещё</div>
                    <div class="pagination">
                        <a href="catalog.html" class="pagination-link">1</a>
                        <a href="catalog.html" class="pagination-link">2</a>
                        <a href="catalog.html" class="pagination-link selected">3</a>
                        <a href="catalog.html" class="pagination-link">4</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog__btn-top">
            <svg width="65" height="16" >
                <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-big"></use>
            </svg>
            наверх
        </div>
    </div>
</div>