<div class="brands-page container">
    {{breadcrumbs}}
    <h1 class="title-h1 brands__title">Бренды</h1>
    <section class="brands-section">
        <div class="brand-wr">
            <div class="title-h2 uc">'</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/s_maxmara/all/" class="link-caps">'S MaxMara   </a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">7</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/7_for_all_mankind/all/" class="link-caps">7 for all mankind</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">d</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/d_a_t_e/all/" class="link-caps">D.A.T.E.</a></li>
                <li><a href="/designers/dlya_zhenshchin/duno/all/" class="link-caps">Duno</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">e</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/elena_ghisellini/all/" class="link-caps">Elena Ghisellini</a></li>
                <li><a href="/designers/dlya_zhenshchin/elisabetta_franchi/all/" class="link-caps">Elisabetta Franchi</a></li>
                <li><a href="/designers/dlya_zhenshchin/erika_cavallini/all/" class="link-caps">Erika Cavallini</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">f</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/forte_dei_marmi_couture/all/" class="link-caps">Forte Dei Marmi Couture</a></li>
                <li><a href="/designers/dlya_zhenshchin/front_street_8/all/" class="link-caps">Front Street 8</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">g</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/giorgio_fabiani/all/" class="link-caps">Giorgio Fabiani</a></li>
                <li><a href="/designers/dlya_zhenshchin/giovanni_fabiani/all/" class="link-caps">Giovanni Fabiani</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">h</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/hide_jack/all/" class="link-caps">Hide&amp;Jack</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">i</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/iceberg/all/" class="link-caps">Iceberg</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">j</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/jeannot/all/" class="link-caps">Jeannot</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">k</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/karl_lagerfeld/all/" class="link-caps">Karl Lagerfeld</a></li>
                <li><a href="/designers/dlya_zhenshchin/kat_maconie/all/" class="link-caps">Kat Maconie</a></li>
                <li><a href="/designers/dlya_zhenshchin/kenzo/all/" class="link-caps">Kenzo</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">l</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/liu_jo/all/" class="link-caps">Liu Jo</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">m</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/mara/all/" class="link-caps">Mara</a></li>
                <li><a href="/designers/dlya_zhenshchin/maxmara_2/all/" class="link-caps">MaxMara</a></li>
                <li><a href="/designers/dlya_zhenshchin/maxmara_studio/all/" class="link-caps">MaxMara Studio</a></li>
                <li><a href="/designers/dlya_zhenshchin/maxmara_weekend/all/" class="link-caps">MaxMara Weekend</a></li>
                <li><a href="/designers/dlya_zhenshchin/menghi_shoes/all/" class="link-caps">Menghi </a></li>
                <li><a href="/designers/dlya_zhenshchin/moa/all/" class="link-caps">MOA</a></li>
                <li><a href="/designers/dlya_zhenshchin/msgm/all/" class="link-caps">MSGM</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">n</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/nando_muzi/all/" class="link-caps">Nando Muzi</a></li>
                <li><a href="/designers/dlya_zhenshchin/ninaliiou/all/" class="link-caps">Ninaliiou</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">p</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/patrizia_pepe/all/" class="link-caps">Patrizia Pepe</a></li>
                <li><a href="/designers/dlya_zhenshchin/peserico/all/" class="link-caps">Peserico</a></li>
                <li><a href="/designers/dlya_zhenshchin/pinko/all/" class="link-caps">Pinko</a></li>
                <li><a href="/designers/dlya_zhenshchin/premiata/all/" class="link-caps">Premiata</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">s</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/salar/all/" class="link-caps">Salar</a></li>
                <li><a href="/designers/dlya_zhenshchin/self_portrait/all/" class="link-caps">Self-portrait</a></li>
                <li><a href="/designers/dlya_zhenshchin/simona_corsellini/all/" class="link-caps">Simona Corsellini</a></li>
                <li><a href="/designers/dlya_zhenshchin/sportmax/all/" class="link-caps">SportMax</a></li>
                <li><a href="/designers/dlya_zhenshchin/sportmax_code/all/" class="link-caps">SportMax Code</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">t</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/tines/all/" class="link-caps">Tines</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">v</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/vittorio_virgilli_2/all/" class="link-caps">Vittorio Virgilli</a></li>
                <li><a href="/designers/dlya_zhenshchin/vivetta/all/" class="link-caps">Vivetta</a></li>
                <li><a href="/designers/dlya_zhenshchin/voile_blanche/all/" class="link-caps">Voile Blanche</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">w</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/what_for/all/" class="link-caps">What For</a></li>
            </ul>
        </div>
        <div class="brand-wr">
            <div class="title-h2 uc">z</div>
            <ul class="brand-list">
                <li><a href="/designers/dlya_zhenshchin/zimmermann/all/" class="link-caps">Zimmermann</a></li>
                <li><a href="/designers/dlya_zhenshchin/zoe_karssen/all/" class="link-caps">Zoe Karssen</a></li>
            </ul>
        </div>
    </section>
</div>