<div class="services-page contacts-page container">
    {{breadcrumbs}}
    <div class="services__row">
        <aside class="services__sidebar">
            <ul class="services__nav">
                <li class="selected"><a href="/contacts.html">Связаться с нами</a></li>
                <li><a href="/delivery.html">Доставка</a></li>
                <li><a href="/payment.html">Оплата</a></li>
                <li><a href="/refund.html">Обмен и возврат</a></li>
            </ul>
        </aside>
        <div class="services__content contacts__content">
            <h1 class="services__title title-h1">обратная связь</h1>
            <div class="tabs-block tabs-block_full-head">
                <ul class="tabs-head">
                    <li class="tab-btn selected">обратный звонок</li>
                    <li class="tab-btn">оставить отзыв</li>
                    <li class="tab-btn">задать вопрос</li>
                </ul>
                <div class="contact__item tab-content opened">
                    <h3>Оставьте свои контакты и мы перезвоним вам в течении 1 часа</h3>
                    <form class="form-wrapper" id="call-form">
                        <div class="input-text-row">
                            <input type="text" placeholder="Ваше имя*" required>
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="tel" placeholder="Ваш телефон*" required>
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <button class="btn btn-send-form">отправить</button>
                        <p class="personal-add-text">Нажимаю кнопку Отправить я даю согласие на обработку <a href="/" class="link link_grey">персональных данных</a></p>
                    </form>
                </div>
                <div class="contact__item tab-content">
                    <h3> Мы очень ценим мнение наших покупателей и будем признательны за любые отзывы и комментарии. Помогите нам улучшить сервис для Вас!</h3>
                    <form class="form-wrapper" id="review-form">
                        <div class="radio-row radio-row_center">
                            <label class="radio">
                                <input type="checkbox" checked>
                                <i class="checkbox-custom"></i>
                                Я хочу поблагодарить
                            </label>
                        </div>
                        <div class="radio-row radio-row_center">
                            <label class="radio">
                                <input type="checkbox">
                                <i class="checkbox-custom"></i>
                                Я хочу пожаловаться
                            </label>
                        </div>
                        <div class="input-row">
                            <div class="input-text-row">
                                <input type="text" placeholder="Ваше имя*" required>
                                <span class="error-text">поле не заполненно</span>
                            </div>
                            <div class="input-text-row">
                                <input type="tel" placeholder="Ваш телефон*" required>
                                <span class="error-text">поле не заполненно</span>
                            </div>
                        </div>
                        <div class="input-text-row">
                            <input type="email" placeholder="Ваш e-mail для ответа">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="text" placeholder="Номер карты лояльности">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="textarea-row">
                            <textarea placeholder="Оставьте свой отзыв"></textarea>
                        </div>
                        <button class="btn btn-send-form">отправить</button>
                        <p class="personal-add-text">Нажимаю кнопку Отправить я даю согласие на обработку <a href="/" class="link link_grey">персональных данных</a></p>
                    </form>
                </div>
                <div class="contact__item tab-content">
                    <h3>Мы признательны за интерес к нашим продуктам и услугам. Вы получите ответ от нас в течение 24 часов.</h3>
                    <form class="form-wrapper" id="question-form">
                        <div class="custom-select">
                            <select class="hidden-select">
                                <option value="4">Поиск артикула или размера</option>
                                <option value="5">Обмен или возврат товаров</option>
                                <option value="6">Справки о магазинах</option>
                                <option value="7">Программа лояльности</option>
                                <option value="8">Акции в наших магазинах</option>
                                <option value="9">Отказ от получения рассылок</option>
                                <option value="10">Услуги для клиентов</option>
                                <option value="11">Рекламное или партнерское предложение</option>
                                <option value="12">Вакансии компании</option>
                                <option value="13">Другая тема</option>
                            </select>
                            <div class="custom-select__title">
                                <span>выберите тему вопроса</span>
                                <svg height="16">
                                    <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-bottom"></use>
                                </svg>
                            </div>
                            <div class="custom-select__content">
                                <div class="custom-select__list">
                                    <ul>
                                        <li class="custom-select__option">
                                            <span class="select-val">Поиск артикула или размера</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Обмен или возврат товаров</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Справки о магазинах</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Программа лояльности</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Акции в наших магазинах</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Отказ от получения рассылок</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Услуги для клиентов</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Рекламное или партнерское предложение</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Вакансии компании</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Другая тема</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-text-row">
                                <input type="text" placeholder="Ваше имя*" required>
                                <span class="error-text">поле не заполненно</span>
                            </div>
                            <div class="input-text-row">
                                <input type="tel" placeholder="Ваш телефон*" required>
                                <span class="error-text">поле не заполненно</span>
                            </div>
                        </div>
                        <div class="input-text-row">
                            <input type="email" placeholder="Ваш e-mail для ответа">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="text" placeholder="Номер карты лояльности">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="textarea-row">
                            <textarea placeholder="Оставьте свой отзыв"></textarea>
                        </div>
                        <button class="btn btn-send-form">отправить</button>
                        <p class="personal-add-text">Нажимаю кнопку Отправить я даю согласие на обработку <a href="/" class="link link_grey">персональных данных</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>