<div class="container" style="margin-top: 50px">

    <div class="product-mesh">
        <div class="product-card">
            <a href="/product.html" class="product-card__img">
                <img src="/src/img/product/pr1.jpg">
            </a>
            <div class="product-card__brand">carlo pazolini</div>
            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
            <div class="product-card__price rub-price">19 700</div>
        </div>

        <div class="product-card">
            <a href="/product.html" class="product-card__img">
                <img src="/src/img/product/pr1.jpg">
            </a>
            <div class="product-card__brand">carlo pazolini</div>
            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
            <div class="product-card__price rub-price">19 700</div>
        </div>
    </div>

    <h1 class="title-h1">Заголовок1</h1>

    <h2 class="title-h2">Заголовок2</h2>

    <h3 class="title-h3">Заголовок3</h3>

    <h4 class="title-h4">Заголовок4</h4>

    <div class="title-h5">Заголовок5</div>

    <h1 class="text-title">Заголовок H</h1>

    <div class="btn">отправить</div>

    <div class="btn btn_secondary">отправить</div>

    <div class="btn disabled">отправить</div>

    <div class="btn btn_secondary disabled">отправить</div>

    <div class="text-title">
        инпут
    </div>

    <div class="custom-select">
        <select class="hidden-select">
            <option value="123" selected>По умолчанию</option>
            <option value="124">Цена по возрастанию</option>
            <option value="128">Цена по убыванию</option>
            <option value="125">По рейтингу</option>
            <option value="126">По заказам</option>
            <option value="127">По отзывам</option>
        </select>
        <div class="custom-select__title">
            Сортировать
            <svg height="16">
                <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-bottom"></use>
            </svg>
        </div>
        <div class="custom-select__content">
            <div class="custom-select__list">
                <ul>
                    <li class="custom-select__option selected">
                        <span class="select-val">По умолчанию</span>
                    </li>
                    <li class="custom-select__option">
                        <span class="select-val">Цена по возрастанию</span>
                    </li>
                    <li class="custom-select__option">
                        <span class="select-val">Цена по убыванию</span>
                    </li>
                    <li class="custom-select__option">
                        <span class="select-val">По рейтингу</span>
                    </li>
                    <li class="custom-select__option">
                        <span class="select-val">По заказам</span>
                    </li>
                    <li class="custom-select__option">
                        <span class="select-val">По отзывам</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="input-text-row">
        <input type="tel" placeholder="Телефон">
        <span class="error-text">поле не заполненно</span>
    </div>

    <div class="input-text-row error">
        <input type="tel" placeholder="Телефон">
        <span class="error-text">поле не заполненно</span>
    </div>

    <a href="#" class="link">Таблица размеров</a>

    <a href="#12cdd" class="link link_grey">Таблица размеров</a>


    <label class="checkbox">
        <input type="checkbox">
        <i class="checkbox-custom"></i>
        Чекбокс
    </label>

    <label class="radio">
        <input type="checkbox">
        <i class="checkbox-custom"></i>
        Радио
    </label>

    <select class="simple-select">
        <option>по популярности</option>
        <option>по цене</option>
    </select>

</div>
