<div class="favorites-page catalog-page">
    <div class="container">
        {{breadcrumbs}}
        <div class="catalog__wr catalog__wr_no-sidebar">
            <div class="catalog__product-wr">
                <div class="catalog__product-top">
                    <div class="catalog__product-left">
                        <div class="catalog__title-row">
                            <h1 class="title-h1">женская обувь</h1>
                            <span class="catalog__amount">125 позиций</span>
                        </div>
                    </div>
                    <div class="catalog__sort-row">
                        <div class="custom-select select_sort">
                            <select class="hidden-select">
                                <option value="123" selected>По умолчанию</option>
                                <option value="124">Цена по возрастанию</option>
                                <option value="128">Цена по убыванию</option>
                                <option value="125">По рейтингу</option>
                                <option value="126">По заказам</option>
                                <option value="127">По отзывам</option>
                            </select>
                            <div class="custom-select__title">
                                <span>Сортировать</span>
                                <svg height="16">
                                    <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-bottom"></use>
                                </svg>
                            </div>
                            <div class="custom-select__content">
                                <div class="custom-select__list">
                                    <ul>
                                        <li class="custom-select__option selected">
                                            <span class="select-val">По умолчанию</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Цена по возрастанию</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">Цена по убыванию</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">По рейтингу</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">По заказам</span>
                                        </li>
                                        <li class="custom-select__option">
                                            <span class="select-val">По отзывам</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="product-mesh">
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                        <div class="delete-from-favorites" title="Удалить из избранного"></div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                        <div class="delete-from-favorites" title="Удалить из избранного"></div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                        <div class="delete-from-favorites" title="Удалить из избранного"></div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                        <div class="delete-from-favorites" title="Удалить из избранного"></div>
                    </li>
                    <li class="product-card">
                        <a href="/product.html" class="product-card__img">
                            <img src="/src/img/product/pr1.jpg">
                        </a>
                        <div class="product-card__brand">carlo pazolini</div>
                        <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                        <div class="product-card__price rub-price">19 700</div>
                        <div class="delete-from-favorites" title="Удалить из избранного"></div>
                    </li>
                </ul>

                <div class="pagination-block">
                    <div class="btn btn_secondary pagination__show-more">показать ещё</div>
                    <div class="pagination">
                        <a href="catalog.html" class="pagination-link">1</a>
                        <a href="catalog.html" class="pagination-link">2</a>
                        <a href="catalog.html" class="pagination-link selected">3</a>
                        <a href="catalog.html" class="pagination-link">4</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog__btn-top">
            <svg width="65" height="16" ><use xlink:href="/src/img/svg-sprite.svg#icon-arrow-big"></use></svg>
            наверх
        </div>
    </div>
</div>