<section class="section-hero">
  <div class="container">
    <div class="hero-wr">
      <div class="left-block">
        <h1 class="hero__title section-title">Продуктовый lowcoster для HoReCa</h1>
      </div>
      <div class="right-block">
        <div class="hero-slider-wr">
          <div class="hero-slider__list slider-list">
            <a href="#" class="hero-slider__item">
              <img class="img-big" src="/src/img/hero/hero-1.png" alt="" />
              <img class="img-small" src="src/img/hero/hero-small-1.jpg" alt="" />
              <!-- <div class="hero-slider__img" style="background-image: url(/src/img/hero/hero-1.png)">
                <div class="hero-slider__text">
                  <div class="hero-slider__title">Новове поступление</div>
                  <div class="btn btn_secondary">перейти к покупкам</div>
                </div>
              </div> -->
            </a>
            <a href="#" class="hero-slider__item">
              <img class="img-big" src="/src/img/hero/hero-2.png" alt="" />
              <img class="img-small" src="/src/img/hero/hero-small-2.jpg" alt="" />
              <!-- <div class="hero-slider__img" style="background-image: url(/src/img/hero/hero-2.png)">
                <div class="hero-slider__text">
                  <div class="hero-slider__title">Новове поступление</div>
                  <div class="btn btn_secondary">перейти к покупкам</div>
                </div>
              </div> -->
            </a>
            <a href="#" class="hero-slider__item">
              <img class="img-big" src="/src/img/hero/hero-3.png" alt="" />
              <img class="img-small" src="/src/img/hero/hero-small-3.jpg" alt="" />
              <!-- <div class="hero-slider__img" style="background-image: url(/src/img/hero/hero-3.png)">
                <div class="hero-slider__text">
                  <div class="hero-slider__title">Новове поступление</div>
                  <div class="btn btn_secondary">перейти к покупкам</div>
                </div>
              </div> -->
            </a>
            <a href="#" class="hero-slider__item">
              <img class="img-big" src="/src/img/hero/hero-1.png" alt="" />
              <img class="img-small" src="/src/img/hero/hero-small-1.jpg" alt="" />
              <!-- <div class="hero-slider__img" style="background-image: url(/src/img/hero/hero-1.png)">
                <div class="hero-slider__text">
                  <div class="hero-slider__title">Новове поступление</div>
                  <div class="btn btn_secondary">перейти к покупкам</div>
                </div>
              </div> -->
            </a>
            <a href="#" class="hero-slider__item">
              <img class="img-big" src="/src/img/hero/hero-2.png" alt="" />
              <img class="img-small" src="/src/img/hero/hero-small-2.jpg" alt="" />
              <!-- <div class="hero-slider__img" style="background-image: url(/src/img/hero/hero-2.png)">
                <div class="hero-slider__text">
                  <div class="hero-slider__title">Новове поступление</div>
                  <div class="btn btn_secondary">перейти к покупкам</div>
                </div>
              </div> -->
            </a>
            <a href="#" class="hero-slider__item">
              <img class="img-big" src="/src/img/hero/hero-3.png" alt="" />
              <img class="img-small" src="/src/img/hero/hero-small-3.jpg" alt="" />
              <!-- <div class="hero-slider__img" style="background-image: url(/src/img/hero/hero-3.png)">
                <div class="hero-slider__text">
                  <div class="hero-slider__title">Новове поступление</div>
                  <div class="btn btn_secondary">перейти к покупкам</div>
                </div>
              </div> -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-about">
  <div class="container">
    <div class="about-wr">
      <div class="left-block">
        <h2 class="about__title section-title">О НАС</h2>
      </div>
      <div class="right-block">
        <p>
          Компания РАФТ — детище команды креативных энтузиастов и, одновременно, профессионалов рынка
          HoReCa c 15 летним стажем. Мы объединились в команду для того, чтобы вы узнали о том, что
          сервис высокого качества может и должен быть доступен для клиентов компании сегмента low cost
          на всей территории Российской Федерации. Мы не возим пассажиров без багажа, мы делаем лучшую
          оптимизацию своих издержек в сегменте HoReCa)))
        </p>
        <p>
          Для нас не существует понятия «регионов» с локальными стандартами качества, потому что наши
          клиенты получают только стандартно высокий уровень товара и сервиса, как в Москве, так
          и во всех регионах страны.
        </p>
        <p>
          Мы работаем в компании 21-го века, оцифрованной и эффективной, веря, что наши клиенты готовы
          к современным электронным сервисам и уже устали быть частью мира, лишенного цифровых технологий
          в сфере общественного питания. Если вы так же молоды, креативны и нацелены на достижение
          отличных результатов, как команда РАФТА, нас с Вами по пути! Присоединяйтесь!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-advantages">
  <div class="container">
    <div class="advantages-wr">
      <div class="left-block">
        <h2 class="advantages__title section-title">ПОЧЕМУ МЫ?</h2>
      </div>
      <div class="right-block">
        <div class="advantages-list-wr">
          <ul class="advantages__list">
            <li class="advantages__item">
              <div class="advantages-item__number">1</div>
              <div class="advantages-item__text">
                Мы занимаем лидирующее положение по цене в HoReCa, потому что сделали процесс закупки
                эффективным и оптимизировали свои издержки.
              </div>
            </li>
            <li class="advantages__item">
              <div class="advantages-item__number">2</div>
              <div class="advantages-item__text">
                Мы гарантируем наличие товара на складе и обеспечиваем его доступность посредствам
                разветвленной сети региональных складов.
              </div>
            </li>
            <li class="advantages__item">
              <div class="advantages-item__number">3</div>
              <div class="advantages-item__text">
                Работать с нами легко и приятно, даже если Вы мобильный и вечно занятой человек,
                привыкший вести дела в своем мобильном дивайсе. Мы предоставляем современный электронный
                сервис на всех этапах работы с нашими партнерами и клиентами.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-assortment">
  <div class="container">
    <div class="assortment-wr">
      <h2 class="assortment__title section-title">Наш ассортимент</h2>
      <div class="assortment-slider-wr">
        <div class="assortment-slider__list slider-list">
          <a href="#" class="assortment-slider__item">
            <img src="/src/img/assortment/assortment-1.png" alt="" />
          </a>
          <a href="#" class="assortment-slider__item">
            <img src="/src/img/assortment/assortment-2.png" alt="" />
          </a>
          <a href="#" class="assortment-slider__item">
            <img src="/src/img/assortment/assortment-3.png" alt="" />
          </a>
          <a href="#" class="assortment-slider__item">
            <img src="/src/img/assortment/assortment-4.png" alt="" />
          </a>
          <a href="#" class="assortment-slider__item">
            <img src="/src/img/assortment/assortment-1.png" alt="" />
          </a>
          <a href="#" class="assortment-slider__item">
            <img src="/src/img/assortment/assortment-2.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section-contacts">
  <div class="container">
    <div class="contacts-wr">
      <h2 class="contacts__title section-title">Контакты</h2>
      <div class="contacts-content">
        <div class="left-block">
          <div class="contacts-text">
            <div class="section-subtitle">Офис Москва</div>
            <div class="contacts-text__address">155000, Москва, ул. Шаболовка, 30/12, офис 416</div>
            <div class="contacts-links">
              <a href="tel:+" class="contacts-links__tel">8 555 555 55 55</a>
              <a href="mailto:" class="contacts-links__mail">zakaz@raft.ru</a>
            </div>
            <form class="contacts-text__form" action="" method="post">
              <div class="form__title">НАПИСАТЬ НАМ</div>
              <div class="input-wr"><input type="text" placeholder="Имя" /></div>
              <div class="input-wr"><input type="text" placeholder="Телефон" /></div>
              <div class="input-wr"><input type="text" placeholder="E-mail" /></div>
              <div class="input-wr"><input type="text" placeholder="Сообщение" /></div>
            </form>
          </div>
        </div>
        <div class="right-block">
          <div class="yandex-map">
            <script
              type="text/javascript"
              charset="utf-8"
              async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7c6ecb28423643036554b3ac57586cdd97bd96e4c96adffb5f61b960fb9c264f&amp;width=100%25&amp;height=576&amp;lang=ru_RU&amp;scroll=true"
            ></script>
          </div>
        </div>
        <form class="contacts-content__form" action="" method="post">
          <div class="form__title">НАПИСАТЬ НАМ</div>
          <div class="input-wr"><input type="text" placeholder="Имя" /></div>
          <div class="input-wr"><input type="text" placeholder="Телефон" /></div>
          <div class="input-wr"><input type="text" placeholder="E-mail" /></div>
          <div class="input-wr"><input type="text" placeholder="Сообщение" /></div>
        </form>
      </div>
    </div>
  </div>
</div>
