<div class="login-page container">
    {{breadcrumbs}}
    <div class="login__wr enter">
        <h1 class="title-h1">вход</h1>
        <div class="login__content tabs-block tabs-block_full-head">
            <ul class="login__head tabs-head">
                <li class="login__head-link tab-btn selected">Вход</li>
                <li class="login__head-link tab-btn">Регистрация</li>
            </ul>
            <div class="login__tab-item tab-content opened">
                <div class="title-h2">войти с помощью email</div>
                <form action="/" id="LOGINFORM" class="form-wrapper">
                    <div class="input-text-row">
                        <input type="email" placeholder="Ваш email*" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="input-text-row">
                        <input type="password" placeholder="Пароль*" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <button class="login__btn btn btn-send-form">войти</button>
                </form>
                <div class="login__right-link"><a href="login-recover-password.html" class="link link_grey">Забыли пароль?</a></div>

                <div class="login__fast">
                    <div class="title-h2">быстрый вход</div>
                    <div class="login__fast-row">
                        <a href="#" class="btn btn_secondary">google</a>
                        <a href="#" class="btn btn_secondary">facebook</a>
                    </div>
                </div>
            </div>
            <div class="login__tab-item tab-content">
                <div class="title-h2">регистрация</div>
                <form action="/" id="REFISTRORM" class="form-wrapper">
                    <fieldset>
                        <div class="input-text-row">
                            <input type="email" placeholder="Ваш email*" required>
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="text" placeholder="Имя*" required>
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="text" placeholder="Ваша фамилия*" required>
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="password" placeholder="Имя*" required>
                            <span class="error-text">поле не заполненно</span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="legend_small">Ваша дата рождения</legend>
                        <div class="select-birthday select-birthday-init"></div>
                    </fieldset>
                    <div class="radio-row">
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Подписаться на рассылку акций, новинок на почту
                        </label>
                    </div>
                    <button class="login__btn btn btn-send-form">зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>