<div class="order-page checkout-page container">
    <h1 class="title-h1">оформление заказа</h1>
    <div class="order-wr form-wrapper">
        <div class="order-form">
            <form action="/" method="post" id="FORMORDER">
                <fieldset>
                    <legend>ваши данные</legend>
                    <div class="input-text-row">
                        <input type="text" placeholder="Ваше имя" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="input-text-row">
                        <input type="text" placeholder="Ваша фамилия">
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="input-text-row">
                        <input type="tel" placeholder="Телефон" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="input-text-row">
                        <input type="email" placeholder="Ваш email" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>способ доставки</legend>
                    <div class="radio-row">
                        <label class="radio">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Доставка компанией DPD (доставка до двери)
                        </label>
                    </div>
                    <div class="radio-row">
                        <label class="radio">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Доставка компанией DPD (доставка до пункта выдачи)
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>адрес доставки</legend>
                    <div class="input-text-row">
                        <input type="text" placeholder="Населенный пункт">
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="input-text-row">
                        <input type="text" placeholder="Улица">
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="input-row">
                        <div class="input-text-row">
                            <input type="text" placeholder="Дом">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                        <div class="input-text-row">
                            <input type="text" placeholder="Квартира (офис)">
                            <span class="error-text">поле не заполненно</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>способ Оплаты</legend>
                    <div class="radio-row">
                        <label class="radio">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Банковской картой
                        </label>
                    </div>
                    <div class="radio-row">
                        <label class="radio">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Яндекс. Касса
                        </label>
                    </div>
                    <div class="radio-row">
                        <label class="radio">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Купить в кредит
                        </label>
                    </div>
                    <div class="radio-row">
                        <label class="radio">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Наличными при получении
                        </label>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="total-checkout">
            <div class="total-checkout-wr">
                <div class="total-checkout-title">ваш заказ</div>
                <div class="action-total">
                    <div class="action-row">
                        <span>Товары (3)</span>
                        <span class="rub-price">15 050</span>
                    </div>
                    <div class="action-row">
                        <span>Доставка</span>
                        <span class="rub-price">500</span>
                    </div>
                    <div class="action-total-group">
                        <div class="action-row total">
                            <span>Итого</span>
                            <span class="rub-price">15 050</span>
                        </div>
                    </div>
                </div>
                <button class="btn total-checkout-btn btn-send-form" form="FORMORDER">оформить заказ</button>
            </div>
        </div>
    </div>
</div>