<div class="services-page payment-page container">
    {{breadcrumbs}}
    <div class="services__row">
        <aside class="services__sidebar">
            <ul class="services__nav">
                <li><a href="/contacts.html">Связаться с нами</a></li>
                <li><a href="/delivery.html">Доставка</a></li>
                <li class="selected"><a href="/payment.html">Оплата</a></li>
                <li><a href="/refund.html">Обмен и возврат</a></li>
            </ul>
        </aside>
        <div class="services__content">
            <h1 class="services__title title-h1">Оплата</h1>
            <div class="accordion accordion_no-icon accordion_opacity">
                <div class="accordion-item opened">
                    <div class="accordion-title">
                        ОПЛАТА НАЛИЧНЫМИ ИЛИ БАНКОВСКОЙ КАРТОЙ ПРИ САМОВЫВОЗЕ
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Оплатить заказ при <a class="link" href="/delivery.html">самовывозе</a> из бутиков сети Q Group можно банковской картой или наличными.
                            <br>Вы можете использовать подарочный сертификат или клубную карту Q ID. <a class="link" href="/shops.html">Адреса магазинов Q Group</a></p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        онлайн-оплата
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p class="mini-t">Оплата на сайте банковской картой</p>
                        <p>Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платежных систем:</p>
                        <ul class="payment__card-list">
                            <li class="payment__card-item">
                                <img src="/src/img/payment/mir-logo.svg">
                                Мир
                            </li>
                            <li class="payment__card-item">
                                <img src="/src/img/payment/visa.svg">
                                VISA International
                            </li>
                            <li class="payment__card-item">
                                <img src="/src/img/payment/mastercard.svg">
                                Mastercard Wordwide
                            </li>
                            <li class="payment__card-item">
                                <img src="/src/img/payment/JCB.svg">
                                JCB
                            </li>
                        </ul>

                        <p>
                            Добавьте товар в корзину и выберите способ платежа «Оплата картой». После перемещения на защищенную страницу платежного шлюза «Сбербанка России» вам потребуется указать данные карты: номер, срок действия, имя, фамилию на латинице, цифры кода CVV/CVC.<br>
                            Платежная информация зашифровывается и отправляется в банк по безопасному каналу с протоколом защиты SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля. Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
                        </p>

                        <p class="mini-t">Оплата электронными деньгами</p>
                        <p>Вы можете моментально оплатить товар с помощью QIWI Wallet, Яндекс.Деньги, WebMoney, WeChat Pay. При оформлении покупки выберите тип электронного кошелька, перейдите на страницу платежного агрегатора и следуйте дальнейшим инструкциям.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        НАЛИЧНЫМИ ИЛИ БАНКОВСКОЙ КАРТОЙ КУРЬЕРУ
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Оплата при получении (полная или частичная) производится после предварительной примерки и осмотра товара. Услуга доступна при заказе адресной доставки <a href="/delivery.html" class="link">собственной курьерской службой Q Group</a> или <a href="/delivery.html" class="link">экспресс доставки DPD.</a> Оплатить покупку на месте можно наличными или банковской картой курьеру.<br>
                            Покупателю выдается чек.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        БЕЗНАЛИЧНАЯ ОПЛАТА ПО СЧЕТУ
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Вы можете оплатить заказ в любом банке на территории России. Для выставления счета свяжитесь с нашим оператором по номеру ХХ-ХХ-ХХ. Доставка товара будет осуществлена после поступления средств на расчетный счет Q Group. Данный вид оплаты доступен для юридических и физических лиц.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>