<div class="personal-page container">
    {{breadcrumbs}}
    <div class="personal__wr">
        <h1 class="title-h1">дарья толбина</h1>
        <div class="personal__content tabs-block tabs-block_full-head">
            <div class="personal__head tabs-head">
                <a href="/personal.html" class="personal__head-link tab-btn selected">личные данные</a>
                <a href="/personal-orders.html" class="personal__head-link tab-btn">мои заказы</a>
            </div>
            <div class="personal__content-wr">
                <form action="/" id="PERSONALFORM" class="form-wrapper personal-form">
                    <fieldset>
                        <legend class="legend_center">контактная информация</legend>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Email</span>
                            <div class="input-placeholder__content">
                                <div class="input-text-row">
                                    <input type="email" placeholder="Ваш email*" required>
                                    <span class="error-text">поле не заполненно</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Телефон</span>
                            <div class="input-placeholder__content">
                                <div class="input-text-row">
                                    <input type="email" placeholder="Телефон*" required>
                                    <span class="error-text">поле не заполненно</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Пароль</span>
                            <div class="input-placeholder__content">
                                <span class="link link_grey personal__change-password">Сменить пароль</span>
                                <input type="hidden" name="password">
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Имя</span>
                            <div class="input-placeholder__content">
                                <div class="input-text-row">
                                    <input type="text" placeholder="Имя">
                                    <span class="error-text">поле не заполненно</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Фамилия</span>
                            <div class="input-placeholder__content">
                                <div class="input-text-row">
                                    <input type="text" placeholder="Фамилия">
                                    <span class="error-text">поле не заполненно</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="legend_center">личные данные</legend>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Пол</span>
                            <div class="input-placeholder__content">
                                <div class="radio-row">
                                    <label class="radio">
                                        <input type="checkbox">
                                        <i class="checkbox-custom"></i>
                                        Женский
                                    </label>
                                </div>
                                <div class="radio-row">
                                    <label class="radio">
                                        <input type="checkbox">
                                        <i class="checkbox-custom"></i>
                                        Мужской
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Дата рождения</span>
                            <div class="input-placeholder__content">
                                <script>
                                    $(function () {
                                        $('.personal-select-birthday').birthdaypicker({
                                            defaultDate: '1980-05-11'
                                        });
                                    });
                                </script>
                                <div class="select-birthday personal-select-birthday"></div>
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Размер обуви</span>
                            <div class="input-placeholder__content">
                                <div class="custom-select">
                                    <select class="hidden-select">
                                        <option value="123" selected>не выбрано</option>
                                        <option value="123">42</option>
                                        <option value="124">44</option>
                                        <option value="128">46</option>
                                    </select>
                                    <div class="custom-select__title">
                                        <span>не выбрано</span>
                                        <svg height="16">
                                            <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-bottom"></use>
                                        </svg>
                                    </div>
                                    <div class="custom-select__content">
                                        <div class="custom-select__list">
                                            <ul>
                                                <li class="custom-select__option selected">
                                                    <span class="select-val">По умолчанию</span>
                                                </li>
                                                <li class="custom-select__option">
                                                    <span class="select-val">Цена по возрастанию</span>
                                                </li>
                                                <li class="custom-select__option">
                                                    <span class="select-val">Цена по убыванию</span>
                                                </li>
                                                <li class="custom-select__option">
                                                    <span class="select-val">По рейтингу</span>
                                                </li>
                                                <li class="custom-select__option">
                                                    <span class="select-val">По заказам</span>
                                                </li>
                                                <li class="custom-select__option">
                                                    <span class="select-val">По отзывам</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="legend_center">мои адреса</legend>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Населенный пункт</span>
                            <div class="input-placeholder__content">
                                <div class="input-text-row">
                                    <input type="text" placeholder="Город / Населенный пункт">
                                    <span class="error-text">поле не заполненно</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-placeholder-row">
                            <span class="input-placeholder">Адрес</span>
                            <div class="input-placeholder__content">
                                <div class="input-text-row">
                                    <input type="text" placeholder="Улица">
                                    <span class="error-text">поле не заполненно</span>
                                </div>
                                <div class="input-row">
                                    <div class="input-text-row">
                                        <input type="text" placeholder="Дом">
                                        <span class="error-text">поле не заполненно</span>
                                    </div>
                                    <div class="input-text-row">
                                        <input type="text" placeholder="Квартира (офис)">
                                        <span class="error-text">поле не заполненно</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="radio-row">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Я соглашаюсь на обработку моих персональных данных и ознакомлен(а) с условиями конфиденциальности
                        </label>
                    </div>


                    <div class="personal__btns">
                        <button class="btn personal__send-btn btn-send-form">зарегистрироваться</button>
                        <a class="btn btn_secondary">выйти из аккаунта</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="mailing-block mailing-block-img" style="background-image: url(/src/img/index/mail.jpg)">
    <div class="container">
        <div class="mailing__content">
            <div class="title-h3">Подпишитесь на нашу рассылку</div>
            <form action="/" method="post" id="MAILINGFORM" class="mailing__form">
                <div class="mailing__left">
                    <div class="input-text-row">
                        <input type="email" placeholder="Введите вашу почту" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="mailing__check-row">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Женщинам
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Мужчинам
                        </label>
                    </div>
                </div>
                <button class="mailing__btn btn btn-send-form">отправить</button>
            </form>
        </div>
    </div>
</div>

<div class="site-popup site-popup_password">
    <div class="site-popup__close" title="Закрыть">
        <svg height="12" width="12">
            <use xlink:href="/src/img/svg-sprite.svg#icon-close"></use>
        </svg>
    </div>
    <div class="password-popup__title">сменить пароль</div>
    <form class="form-wrapper">
        <div class="input-text-row">
            <input type="password" name="password" placeholder="Новый пароль" required minlength="4">
            <span class="error-text">поле не заполненно</span>
        </div>
        <div class="input-text-row">
            <input type="password" name="double-password" placeholder="Повторите пароль" required>
            <span class="error-text">поле не заполненно</span>
        </div>
        <button class="btn password-popup__btn btn-send-form">сохранить</button>
    </form>
</div>

