<div class="personal-page container">
    {{breadcrumbs}}
    <div class="personal__wr">
        <h1 class="title-h1">дарья толбина</h1>
        <div class="personal__content tabs-block tabs-block_full-head">
            <div class="personal__head tabs-head">
                <a href="/personal.html" class="personal__head-link tab-btn">личные данные</a>
                <a href="/personal-orders.html" class="personal__head-link tab-btn selected">мои заказы</a>
            </div>
            <div class="personal__content-wr">
                <ul class="personal__orders accordion accordion_simple">
                    <li class="personal__order accordion-item opened">
                        <div class="personal__order-head accordion-title">
                            <div class="order-number">Заказ <b>№ 12345</b> от 01 июня 2020 г.</div>
                            <div class="order-status">Заказ передан в службу доставки.</div>
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="personal__order-content accordion-content">
                            <ul class="personal__products">
                                <li class="product">
                                    <a href="/product.html" class="product-img">
                                        <img src="/src/img/product/pr1.jpg">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-name-row">
                                            <div class="product-article">Артикул 1234</div>
                                            <a href="product.html" class="product-brand">carlo pazolini</a>
                                            <div class="product-name">Кожанные туфли с открытой пяткой</div>
                                        </div>
                                        <div class="product-options-row">
                                            <div class="product-color product-option">Цвет: бежевый</div>
                                            <div class="product-price product-option rub-price">5 050</div>
                                            <div class="product-size product-option">Размер: 38</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product">
                                    <a href="/product.html" class="product-img">
                                        <img src="/src/img/product/pr2.jpg">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-name-row">
                                            <div class="product-article">Артикул 1234</div>
                                            <a href="product.html" class="product-brand">carlo pazolini</a>
                                            <div class="product-name">Кожанные туфли с открытой пяткой</div>
                                        </div>
                                        <div class="product-options-row">
                                            <div class="product-color product-option">Цвет: бежевый</div>
                                            <div class="product-price product-option rub-price">5 050</div>
                                            <div class="product-size product-option">Размер: 38</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="personal__order accordion-item">
                        <div class="personal__order-head accordion-title">
                            <div class="order-number">Заказ <b>№ 12346</b> от 20 июня 2020 г.</div>
                            <div class="order-status">Заказ выполнен.</div>
                            <i class="accordion-icon accordion-icon_plus"></i>
                        </div>
                        <div class="personal__order-content accordion-content">
                            <ul class="personal__products">
                                <li class="product">
                                    <a href="/product.html" class="product-img">
                                        <img src="/src/img/product/pr1.jpg">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-name-row">
                                            <div class="product-article">Артикул 1234</div>
                                            <a href="product.html" class="product-brand">carlo pazolini</a>
                                            <div class="product-name">Кожанные туфли с открытой пяткой</div>
                                        </div>
                                        <div class="product-options-row">
                                            <div class="product-color product-option">Цвет: бежевый</div>
                                            <div class="product-price product-option rub-price">5 050</div>
                                            <div class="product-size product-option">Размер: 38</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product">
                                    <a href="/product.html" class="product-img">
                                        <img src="/src/img/product/pr2.jpg">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-name-row">
                                            <div class="product-article">Артикул 1234</div>
                                            <a href="product.html" class="product-brand">carlo pazolini</a>
                                            <div class="product-name">Кожанные туфли с открытой пяткой</div>
                                        </div>
                                        <div class="product-options-row">
                                            <div class="product-color product-option">Цвет: бежевый</div>
                                            <div class="product-price product-option rub-price">5 050</div>
                                            <div class="product-size product-option">Размер: 38</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="product">
                                    <a href="/product.html" class="product-img">
                                        <img src="/src/img/product/pr3.jpg">
                                    </a>
                                    <div class="product-info">
                                        <div class="product-name-row">
                                            <div class="product-article">Артикул 1234</div>
                                            <a href="product.html" class="product-brand">carlo pazolini</a>
                                            <div class="product-name">Кожанные туфли с открытой пяткой</div>
                                        </div>
                                        <div class="product-options-row">
                                            <div class="product-color product-option">Цвет: бежевый</div>
                                            <div class="product-price product-option rub-price">5 050</div>
                                            <div class="product-size product-option">Размер: 38</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>