<div class="product-page">
    <div class="container">
        {{breadcrumbs}}
        <div class="product-wr">
            <div class="product__photo">
                <ul class="product__photo-slider">
                    <li class="product__photo-img">
                        <a class="fancybox" data-fancybox="group1" href="/src/img/product/pr1.jpg"><img src="/src/img/product/pr1.jpg"></a>
                    </li>
                    <li class="product__photo-img">
                        <a class="fancybox" data-fancybox="group1" href="/src/img/product/pr2.jpg"><img src="/src/img/product/pr2.jpg"></a>
                    </li>
                    <li class="product__photo-img">
                        <a class="fancybox" data-fancybox="group1" href="/src/img/product/pr3.jpg"><img src="/src/img/product/pr3.jpg"></a>
                    </li>
                    <li class="product__photo-img">
                        <a class="fancybox" data-fancybox="group1" href="/src/img/product/pr2.jpg"><img src="/src/img/product/pr2.jpg"></a>
                    </li>
                    <li class="product__photo-img">
                        <a class="fancybox" data-fancybox="group1" href="/src/img/product/pr3.jpg"><img src="/src/img/product/pr3.jpg"></a>
                    </li>
                </ul>
                <ul class="product__photo-slider-nav">
                    <li class="product__photo-prev">
                        <div class="nav-item">
                            <img src="/src/img/product/pr1.jpg">
                        </div>
                    </li>
                    <li class="product__photo-prev">
                        <div class="nav-item">
                            <img src="/src/img/product/pr2.jpg">
                        </div>
                    </li>
                    <li class="product__photo-prev">
                        <div class="nav-item">
                            <img src="/src/img/product/pr3.jpg">
                        </div>
                    </li>
                    <li class="product__photo-prev">
                        <div class="nav-item">
                            <img src="/src/img/product/pr2.jpg">
                        </div>
                    </li>
                    <li class="product__photo-prev">
                        <div class="nav-item">
                            <img src="/src/img/product/pr3.jpg">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="product__info">
                <h1 class="product__title">
                    <span class="title-h1">carlo pazolini</span>
                    <span class="product__name">Кожанные туфли с открытой пяткой</span>
                </h1>
                <div class="product__price">
                    <span class="product__price-old rub-price">20 700</span>
                    <span class="product__price-cur rub-price">5 050</span>
                </div>
                <div class="product__action">
                    <div class="product__table-size">
                        <span class="link_grey link">Таблица размеров</span>
                    </div>
                    <div class="custom-select">
                        <select class="hidden-select select-size">
                            <option value="123" selected>38</option>
                            <option value="124">39</option>
                            <option value="128">40</option>
                            <option value="125">42</option>
                            <option value="126">42</option>
                            <option value="127">44</option>
                        </select>
                        <div class="custom-select__title">
                            <span>Выберите размер</span>
                            <svg height="16">
                                <use xlink:href="/src/img/svg-sprite.svg#icon-arrow-bottom"></use>
                            </svg>
                        </div>
                        <div class="custom-select__content">
                            <div class="custom-select__list">
                                <ul>
                                    <li class="custom-select__option selected">
                                        <span class="select-val">38</span>
                                    </li>
                                    <li class="custom-select__option">
                                        <span class="select-val">39</span>
                                    </li>
                                    <li class="custom-select__option">
                                        <span class="select-val">40</span>
                                    </li>
                                    <li class="custom-select__option">
                                        <span class="select-val">42</span>
                                    </li>
                                    <li class="custom-select__option">
                                        <span class="select-val">42</span>
                                    </li>
                                    <li class="custom-select__option">
                                        <span class="select-val">44</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button class="btn add-to-cart">добавить в корзину</button>
                    <div class="product__action-row">
                        <button class="btn btn_secondary buy-click">купить в один клик</button>
                        <div class="add-to-favorite">
                            <svg width="18px" height="18px" class="off">
                                <use xlink:href="/src/img/svg-sprite.svg#icon-star"></use>
                            </svg>
                            <svg width="18px" height="18px" class="on">
                                <use xlink:href="/src/img/svg-sprite.svg#icon-star-red"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="product__link-list">
                        <li><a href="#" class="link link_grey">Проверить наличие в магазине</a></li>
                        <li>
                            <p>Не нашли свой размер?</p>
                            <a href="#" class="link link_grey">Уведомить о поступлении</a>
                        </li>
                    </ul>
                </div>

                <div class="tabs-block product__tabs">
                    <ul class="tabs-head">
                        <li class="tab-btn selected">детали</li>
                        <li class="tab-btn">описание</li>
                        <li class="tab-btn">доставка</li>
                    </ul>

                    <div class="tab-content opened">
                        <ul class="product__property-list">
                            <li>Материал верха – <b>натуральная кожа</b></li>
                            <li>Внутренний материал – <b>текстиль</b></li>
                            <li>Материал подошвы – <b>натуральная кожа</b></li>
                            <li>Страна-производитель – <b>Китай</b></li>
                            <li>Цвет – <b>бежевый</b></li>
                            <li>Размерность – <b>размер соответствует стандарту</b></li>
                            <li>Артикул – <b>DO029BWIGUC3</b></li>
                        </ul>

                    </div>
                    <div class="tab-content">Описание</div>
                    <div class="tab-content">Доставка</div>
                </div>

            </div>
        </div>
    </div>

    <section class="tabs-gallery container">
        <div class="tabs-block tabs-block_mobile">
            <ul class="tabs-gallery__head tabs-head">
                <li class="tabs-gallery__btn tab-btn selected">мы рекомендуем</li>
                <li class="tabs-gallery__btn tab-btn">похожие товары</li>
                <li class="tabs-gallery__btn tab-btn">другие товары дизайнера</li>
            </ul>

            <div class="tabs-gallery__content tab-content opened">
                <div class="tabs-gallery__mobile-title mobile-tab">
                    мы рекомендуем
                    <i class="tabs-gallery__mobile-icon"></i>
                </div>
                <div class="tab-content-wr">
                    <div class="product-slider">
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr1.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites in-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr1.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr3.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr2.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="tabs-gallery__content tab-content">
                <div class="tabs-gallery__mobile-title mobile-tab">
                    похожие товары
                    <i class="tabs-gallery__mobile-icon"></i>
                </div>
                <div class="tab-content-wr">
                    <div class="product-slider">
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr3.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr2.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr2.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                    <div class="slide-container">
                        <div class="product-card">
                            <a href="/product.html" class="product-card__img">
                                <img class="lazy" data-src="/src/img/product/pr1.jpg">
                            </a>
                            <div class="product-card__brand">carlo pazolini</div>
                            <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                            <div class="product-card__price rub-price">19 700</div>
                            <div class="add-to-favorites" title="Добавить в избранное"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="tabs-gallery__content tab-content">
                <div class="tabs-gallery__mobile-title mobile-tab">
                    другие товары дизайнера
                    <i class="tabs-gallery__mobile-icon"></i>
                </div>
                <div class="tab-content-wr">
                    <div class="product-slider">
                        <div class="slide-container">
                            <div class="product-card">
                                <a href="/product.html" class="product-card__img">
                                    <img class="lazy" data-src="/src/img/product/pr2.jpg">
                                </a>
                                <div class="product-card__brand">carlo pazolini</div>
                                <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                                <div class="product-card__price rub-price">19 700</div>
                                <div class="add-to-favorites" title="Добавить в избранное"></div>
                            </div>
                        </div>
                        <div class="slide-container">
                            <div class="product-card">
                                <a href="/product.html" class="product-card__img">
                                    <img class="lazy" data-src="/src/img/product/pr3.jpg">
                                </a>
                                <div class="product-card__brand">carlo pazolini</div>
                                <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                                <div class="product-card__price rub-price">19 700</div>
                                <div class="add-to-favorites" title="Добавить в избранное"></div>
                            </div>
                        </div>
                        <div class="slide-container">
                            <div class="product-card">
                                <a href="/product.html" class="product-card__img">
                                    <img class="lazy" data-src="/src/img/product/pr1.jpg">
                                </a>
                                <div class="product-card__brand">carlo pazolini</div>
                                <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                                <div class="product-card__price rub-price">19 700</div>
                                <div class="add-to-favorites" title="Добавить в избранное"></div>
                            </div>
                        </div>
                        <div class="slide-container">
                            <div class="product-card">
                                <a href="/product.html" class="product-card__img">
                                    <img class="lazy" data-src="/src/img/product/pr2.jpg">
                                </a>
                                <div class="product-card__brand">carlo pazolini</div>
                                <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                                <div class="product-card__price rub-price">19 700</div>
                                <div class="add-to-favorites" title="Добавить в избранное"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="mini-gallery">
        <h3 class="mini-gallery_title">похожие модели</h3>
        <div class="product-slider">
            <div class="slide-container">
                <div class="product-card product-card_gallery">
                    <a href="/product.html" class="product-card__img">
                        <img class="lazy" data-src="/src/img/product/pr1.jpg">
                    </a>
                    <div class="product-card__brand">carlo pazolini</div>
                    <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                </div>
            </div>
            <div class="slide-container">
                <div class="product-card product-card_gallery">
                    <a href="/product.html" class="product-card__img">
                        <img class="lazy" data-src="/src/img/product/pr3.jpg">
                    </a>
                    <div class="product-card__brand">carlo pazolini</div>
                    <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                </div>
            </div>
            <div class="slide-container">
                <div class="product-card product-card_gallery">
                    <a href="/product.html" class="product-card__img">
                        <img class="lazy" data-src="/src/img/product/pr2.jpg">
                    </a>
                    <div class="product-card__brand">carlo pazolini</div>
                    <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                </div>
            </div>
            <div class="slide-container">
                <div class="product-card product-card_gallery">
                    <a href="/product.html" class="product-card__img">
                        <img class="lazy" data-src="/src/img/product/pr2.jpg">
                    </a>
                    <div class="product-card__brand">carlo pazolini</div>
                    <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                </div>
            </div>
            <div class="slide-container">
                <div class="product-card product-card_gallery">
                    <a href="/product.html" class="product-card__img">
                        <img class="lazy" data-src="/src/img/product/pr3.jpg">
                    </a>
                    <div class="product-card__brand">carlo pazolini</div>
                    <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                </div>
            </div>
            <div class="slide-container">
                <div class="product-card product-card_gallery">
                    <a href="/product.html" class="product-card__img">
                        <img class="lazy" data-src="/src/img/product/pr1.jpg">
                    </a>
                    <div class="product-card__brand">carlo pazolini</div>
                    <a href="/product.html" class="product-card__name">Замшевые кеды</a>
                </div>
            </div>
        </div>

        <a class="btn btn_secondary" href="/brand.html">Все товары Carlo pazolini</a>
    </section>
</div>

<section class="site-popup table-size-popup">
    <div class="site-popup__close">
        <svg height="12" width="12">
            <use xlink:href="/src/img/svg-sprite.svg#icon-close"></use>
        </svg>
    </div>
    <div class="table-size__content">
        <div class="title-h1">женская обувь</div>
        <div class="title-h2">таблица соответствия размеров</div>
            <div class="table-wr">
                <table>
                    <thead>
                        <tr>
                            <td>Российский размер</td>
                            <td>Размер US</td>
                            <td>Размер FR</td>
                            <td>Размер UK</td>
                            <td>Длина стопы</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>36</td>
                            <td>6</td>
                            <td>37</td>
                            <td>3</td>
                            <td>23</td>
                        </tr>
                        <tr>
                            <td>36.5</td>
                            <td>6.5</td>
                            <td>37.5</td>
                            <td>3.5</td>
                            <td>23,3</td>
                        </tr>
                        <tr>
                            <td>37</td>
                            <td>7</td>
                            <td>38</td>
                            <td>4</td>
                            <td>23,5</td>
                        </tr>
                        <tr>
                            <td>37,5</td>
                            <td>7,5</td>
                            <td>38,5</td>
                            <td>4,5</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>8</td>
                            <td>39</td>
                            <td>5</td>
                            <td>24,5</td>
                        </tr>
                        <tr>
                            <td>38,5</td>
                            <td>8,5</td>
                            <td>39,5</td>
                            <td>5,5</td>
                            <td>24,7</td>
                        </tr>
                        <tr>
                            <td>39</td>
                            <td>9</td>
                            <td>40</td>
                            <td>6</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>39,5</td>
                            <td>9,5</td>
                            <td>40,5</td>
                            <td>6,5</td>
                            <td>25,3</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>10</td>
                            <td>41</td>
                            <td>7</td>
                            <td>25,5</td>
                        </tr>
                        <tr>
                            <td>40,5</td>
                            <td>10,5</td>
                            <td>41,5</td>
                            <td>7,5</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>11</td>
                            <td>42</td>
                            <td>8</td>
                            <td>26,5</td>
                        </tr>
                        <tr>
                            <td>41,5</td>
                            <td>11,5</td>
                            <td>42,5</td>
                            <td>8,5</td>
                            <td>26,7</td>
                        </tr>
                        <tr>
                            <td>42</td>
                            <td>12</td>
                            <td>43</td>
                            <td>9</td>
                            <td>27</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <p class="table-size__message">
            Обратите внимание, это приблизительное руководство по преобразованию размера. Конверсии могут варьироваться от бренда к бренду. Для получения дополнительной информации или совета обратитесь в службу поддержки клиентов.
        </p>
    </div>
</section>

<section class="basket-popup">
    <div class="basket-popup__title">ваша корзина</div>


    <ul class="basket-popup__list scrollbar-inner">
        <li class="basket-popup__product">
            <a href="/product.html" class="basket-popup__product-img">
                <img src="/src/img/product/pr1.jpg">
            </a>
            <div class="basket-popup__product-info">
                <div class="basket-popup__product-brand">carlo pazolini</div>
                <div class="basket-popup__product-name">Кожанные туфли с открытой пяткой</div>
                <div class="basket-popup__product-price">5 050</div>

                <ul class="basket-popup__product-property">
                    <li>Цвет: бежевый</li>
                    <li>Размер: 38</li>
                </ul>
            </div>

            <div class="basket-popup__product-delete link link_grey">Удалить</div>
        </li>
    </ul>

    <div class="basket-popup__action">
        <div class="basket-popup__action-total">
            <div class="basket-popup__action-row">
                <span>Товары (3)</span>
                <span class="rub-price">15 050</span>
            </div>
            <div class="basket-popup__action-row">
                <span>Товары (3)</span>
                <span class="rub-price">15 050</span>
            </div>
        </div>
        <a href="/basket.html" class="btn">перейти к оформлению</a>
    </div>

    <div class="basket-popup__close" title="Закрыть">
        <svg height="12" width="12">
            <use xlink:href="/src/img/svg-sprite.svg#icon-close"></use>
        </svg>
    </div>
</section>