<div class="services-page payment-page container">
    {{breadcrumbs}}
    <div class="services__row">
        <aside class="services__sidebar">
            <ul class="services__nav">
                <li><a href="/contacts.html">Связаться с нами</a></li>
                <li><a href="/delivery.html">Доставка</a></li>
                <li><a href="/payment.html">Оплата</a></li>
                <li class="selected"><a href="/refund.html">Обмен и возврат</a></li>
            </ul>
        </aside>
        <div class="services__content">
            <h1 class="services__title title-h1">обмен и возврат</h1>
            <div class="accordion accordion_no-icon accordion_opacity">
                <div class="accordion-item opened">
                    <div class="accordion-title">
                        Условия возврата
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Одежду, обувь, сумки и аксессуары, приобретенные в Q Boutique, вы можете вернуть в течение 7 календарных дней с момента получения заказа. Возврату не подлежат чулочно-носочные изделия, нижнее белье. Возврат денежных средств осуществляется в течение 10 дней с моментаполучения товара интернет-магазином Q Boutique и проверки его состояния.</p>

                        <p class="mini-t">Возврат с компенсацией стоимости пересылки</p>
                        <p class="pre-list">Вернуть товар с компенсацией стоимости обратной пересылки возможно в следующих случаях:</p>
                        <ul class="simple-list">
                            <li>обнаружен дефект, заводской брак;</li>
                            <li>посылка укомплектована неправильно (прислали не ту модель; размер, цвет отличаются от заказанных);</li>
                            <li>доставленный товар не соответствует фотографии, опубликованной на сайте</li>
                        </ul>
                        <p>Возврат осуществляется компанией экспресс-доставки DPD. Стоимость пересылки оплачивает интернет-магазин Q Boutique.</p>

                        <p class="mini-t">Возврат за счет покупателя</p>
                        <p class="pre-list">Товары надлежащего качества, которые не подходят по размеру, фасону, цвету, длине или другим характеристикам, подлежат возврату при следующих условиях:</p>
                        <ul class="simple-list">
                            <li>сохранены товарный вид, потребительские свойства, целостность упаковки (в том числе бирки, пломбы, ярлыки);</li>
                            <li>в наличии документ, подтверждающий покупку (чек/распечатка платежа из онлайн-банка);</li>
                            <li>комплекты возвращаются только целиком.</li>
                        </ul>
                        <p>Покупатель оплачивает пересылку самостоятельно и вправе выбрать любую курьерскую или почтовую службу.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        способы возврата
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p class="mini-t">Почтовая или курьерская отправка</p>
                        <ul class="simple-list">
                            <li>качайте бланк возврата и заполните его. В заявлении должны быть указаны причины возврата, перечислены обнаруженные дефекты (при их наличии).</li>
                            <li>Приложите к заявлению копию паспорта (главной страницы и страницы с пропиской) и документ, подтверждающий покупку (чек/распечатку платежа из онлайн-банка).</li>
                            <li>Отправьте посылку с товаром и документами по адресу: 423822, Респ. Татарстан, Набережные Челны, проспект Чулман, д.50, ООО «Куби».</li>
                            <li>Дождитесь СМС от Q Boutique о приеме товара на склад. Деньги будут перечислены на вашу банковскую карту, указанную в заявлении.</li>
                        </ul>

                        <p class="mini-t">Возврат в бутики в г. Набережные Челны</p>
                        <p>Не подошедший товар вы можете самостоятельно доставить в один из наших бутиков в городе Набережные Челны.<br>
                            Возьмите с собой товар, документ, удостоверяющий личность, чек или распечатку платежа из онлайн-банка. Наши сотрудники помогут вам в оформлении возврата.<br>
                            По всем вопросам обращайтесь в службу поддержки по телефону: ХХ-ХХ-ХХ</p>
                    </div>
                </div>
            </div>
            <a href="/" class="btn btn_secondary refund__btn">скачать форму возврата</a>
        </div>
    </div>
</div>