<div class="services-page container">
    {{breadcrumbs}}
    <div class="services__row">
        <aside class="services__sidebar">
            <ul class="services__nav">
                <li><a href="/about.html">о компании</a></li>
                <li class="selected"><a href="/delivery.html">сервис</a></li>
                <li><a href="/privacy-policy.html">Оферта</a></li>
            </ul>
        </aside>
        <div class="services__content">
            <h1 class="services__title title-h1">сервис</h1>
            <div class="accordion accordion_no-icon accordion_opacity">
                <div class="accordion-item opened">
                    <div class="accordion-title">
                        АТЕЛЬЕ
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Одежду, приобретенную в интернет-магазине и бутиках сети Q Group, можно бесплатно подогнать по фигуре, воспользовавшись услугами нашего ателье. Высокая квалификация портных позволяет выполнять задачи любой сложности – от изменения длины юбок и брюк до ушивки жакетов и костюмов. Готовое изделие будет выглядеть так, как будто его моделировали и шили специально для вас.</p>
                        <p> Обладателям клубных карт Q id услуги ателье предоставляются бесплатно в течение года после покупки (предложение распространяется на одежду, приобретенную в наших бутиках или интернет-магазине). Срок выполнения работ – от получаса до 2–3 дней в зависимости от сложности.</p>
                        <p>Обратиться за услугой подгонки или ремонта можно в течение всего гарантийного срока. Наши портные придадут изделиям идеальную посадку: ушьют в поясе, приталят и т.д. При необходимости – выполнят мелкий ремонт. Перечень предоставляемых услуг и виды материалов, с которыми мы работаем, можно уточнить по телефону ХХХХХХ.</p>
                        <p>Просим обратить внимание, что вещи, подогнанные по фигуре, обмену и возврату не подлежат.</p>

                        <p class="mini-t">Ателье расположено в Q Boutique по адресу:</p>
                        <p> г. Набережные Челны, пр. Набережночелнинский, 62.</p>

                        <p class="mini-t">Время работы:</p>
                        <p>
                            понедельник – пятница, с 10.00 до 20.00;<br>
                            суббота, воскресенье – выходные.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        РЕМОНТ ОБУВИ
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Q Group предлагает услугу гарантийного ремонта обуви, приобретенной в интернет-магазине или бутиках торговой сети. Мастера нашей обувной мастерской знают особенности работы с кожаными изделиями премиум-класса и в течение многих лет помогают поддерживать обувь покупателей в идеальном состоянии.</p>

                        <p class="mimi-t">Услуги, предоставляемые бесплатно</p>
                        <ul class="simple-list">
                            <li>установка «профилактики»;</li>
                            <li>замена набоек;</li>
                            <li>подклейка и прошивка подошвы;</li>
                            <li>замена молнии;</li>
                            <li>ремонт или замена фурнитуры.</li>
                        </ul>

                        <p class="mimi-t">Платные услуги</p>
                        <ul class="simple-list">
                            <li>растяжка кожаной обуви;</li>
                            <li>реставрация;</li>
                            <li>полировка;</li>
                            <li>восстановление цвета натуральной кожи и замши;</li>
                            <li>ремонт сумок.</li>
                        </ul>

                        <p> О видах, стоимости и сроках выполняемых работ можно узнать по телефону ХХХХХХ</p>
                        <p>Бесплатный гарантийный ремонт обуви доступен владельцам клубных карт Q id в течение 1 года с момента покупки.</p>
                        <p>Чтобы воспользоваться услугой, обратитесь в один из наших бутиков в г. Набережные Челны, взяв с собой изделие и чек, подтверждающий покупку.</p>
                        <p>Просим обратить внимание, что на гарантийный ремонт не принимается обувь, которую ранее ремонтировали в сторонних мастерских.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        Подарочные карты
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Дарите свободу выбора и исполняйте мечты с подарочной картой Q Group!</p>
                        <p class="mini-t">Подарочная карта – это идеальный знак внимания:</p>
                        <ul class="simple-list">
                            <li>Удобно выбирать – вы сами определяете сумму подарка;</li>
                            <li>Приятно использовать – это возможность окунуться в мир модного шоппинга и безупречного сервиса; </li>
                            <li>Красиво дарить – статусный и презентабельный дизайн карты и упаковки.</li>
                        </ul>

                        <p>Подарочную карту можно приобрести в любом из <a href="/shops.html" class="link">бутиков сети Q Group.</a></p>

                        <p class="mini-t">Правила приобретения и использования подарочных карт</p>

                        <ul class="simple-list">
                            <li>Номинал карты устанавливается во время ее приобретения;</li>
                            <li>Подарочную карту можно использовать при расчете за покупки в бутиках Q Group;</li>
                            <li>Срок действия подарочной карты – 1 год с момента приобретения;</li>
                            <li>Возможно многократное использование карты в пределах номинала;</li>
                            <li>Если стоимость чека превышает номинал карты, производится доплата; </li>
                            <li>При покупке подарочной карты действует скидка по программе лояльности;</li>
                            <li>Подарочная карта возврату и обмену на денежные средства не подлежит;</li>
                            <li>В случае утери карта не восстанавливается;</li>
                            <li>Приобретение подарочной карты означает полное согласие с данными правилами.</li>
                        </ul>

                        <p>Уточнить срок действия или остаток средств на подарочной карте можно по телефону: 12345678</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-title">
                        Подарочная упаковка
                    </div>
                    <div class="accordion-content text-wrapper">
                        <p>Любую вашу покупку мы готовы красиво упаковать, чтобы вы могли преподнести ее в подарок. Услуга бесплатна для обладателей клубных карт Q id и действует во всех бутиках нашей сети.</p>
                        <p>Определившись с выбором подарка, сообщите продавцу-консультанту о своем желании нарядно упаковать его. Мы предложим эффектную подарочную упаковку – фирменные коробки различных размеров, выполненные в узнаваемой стилистике Q Group и перевязанные золотой лентой.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>