<div class="shops-page container">
    {{breadcrumbs}}
    <h1 class="title-h1">Магазины</h1>
    <div class="shops__row">
        <div class="shops__item">
            <h2 class="title-h3">Q BOUTIQUE</h2>
            <p class="shops__item-address"><b>г.Набережные Челны, проспект Набережночелинский, 60
                <a href="tel:+78552921230" class="shops__item-phone">+7 (8552) 92-12-30</a>
            </b></p>
            <p class="shops__item-schedule"><b>Пн-Вс 10:00 — 21:00</b></p>
            <a href="shop.html" class="link link_grey">Смотреть подробнее</a>
        </div>
        <div class="shops__item">
            <h2 class="title-h3">Q BOUTIQUE</h2>
            <p class="shops__item-address"><b>г.Набережные Челны, проспект Набережночелинский, 60
                <a href="tel:+78552921230" class="shops__item-phone">+7 (8552) 92-12-30</a></b></p>
            <p class="shops__item-schedule"><b>Пн-Вс 10:00 — 21:00</b></p>
            <a href="shop.html" class="link link_grey">Смотреть подробнее</a>
        </div>
        <div class="shops__item">
            <h2 class="title-h3">Q BOUTIQUE</h2>
            <p class="shops__item-address"><b>г.Набережные Челны, проспект Набережночелинский, 60
                <a href="tel:+78552921230" class="shops__item-phone">+7 (8552) 92-12-30</a>
            </b></p>
            <p class="shops__item-schedule"><b>Пн-Вс 10:00 — 21:00</b></p>
            <a href="shop.html" class="link link_grey">Смотреть подробнее</a>
        </div>
    </div>
</div>

<div class="mailing-block">
    <div class="container">
        <div class="mailing__content">
            <div class="title-h3">Подпишитесь на нашу рассылку</div>
            <form action="/" method="post" id="MAILINGFORM" class="mailing__form">
                <div class="mailing__left">
                    <div class="input-text-row">
                        <input type="email" placeholder="Введите вашу почту" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="mailing__check-row">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Женщинам
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Мужчинам
                        </label>
                    </div>
                </div>
                <button class="mailing__btn btn btn-send-form">отправить</button>
            </form>
        </div>
    </div>
</div>