<div class="shops-page container">
    {{breadcrumbs}}
    <h1 class="title-h1">Магазины</h1>
    <h2 class="title-h2">Q BOUTIQUE</h2>

    <div class="shop__wr">
        <div class="banner-slider">
            <div class="banner-slider__list slider-list">
                <a href="#" class="banner-slider__item">
                    <div class="banner-slider__img" style="background-image: url(/src/img/slider/1.jpg)">
                    </div>
                </a>
                <a href="#" class="banner-slider__item">
                    <div class="banner-slider__img" style="background-image: url(/src/img/slider/1.jpg)"></div>
                </a>
                <a href="#" class="banner-slider__item">
                    <div class="banner-slider__img" style="background-image: url(/src/img/slider/1.jpg)"></div>
                </a>
            </div>
        </div>
        <div class="shop__detail">
            <div class="shop__detail-item">
                <h4 class="shop__detail-title">контакты</h4>
                <p>г.Набережные Челны, проспект Набережночелинский, 60 +7 (8552) 92-12-30</p>
            </div>
            <div class="shop__detail-item">
                <h4 class="shop__detail-title">время работы</h4>
                <p>Пн-Вс 10:00 — 21:00</p>
            </div>
            <div class="shop__detail-item">
                <h4 class="shop__detail-title">бренды</h4>
                <p>Iceberg, Kenzo, Sportmax, Elisabetta Franchi, MaxMara, Peserico, Dirk Bikkembergs, Hugo Boss, Parajumpers</p>
            </div>
        </div>
        <div class="shop__desc">
            <h3 class="title-h4">О бутике</h3>
            <p>С 2013 года Q Boutique предлагает покупателям одежду, обувь и аксессуары премиум-класса. В просторных залах площадью 500 кв.м. представлены коллекции более 30 всемирно известных брендов, среди которых Kenzo, SportMax, Iceberg, Erika Cavallini, MaxMara, Peserico, Elisabetta Franchi, Hugo Boss, Dirk Bikkembergs, Etro. Женский и мужской ассортимент тщательно продуман. В магазине представлены классическая и деловая одежда, повседневный и спортивный стиль, вечерние наряды. Концепция бутика – все для «smart» шоппинга позволяет сформировать полноценный гардероб, оставаясь в рамках разумного бюджета. В бутике вы получите профессиональную консультацию стилиста и сможете воспользоваться бесплатной подгонкой одежды по фигуре.</p>
        </div>
    </div>
</div>

<div class="mailing-block">
    <div class="container">
        <div class="mailing__content">
            <div class="title-h3">Подпишитесь на нашу рассылку</div>
            <form action="/" method="post" id="MAILINGFORM" class="mailing__form">
                <div class="mailing__left">
                    <div class="input-text-row">
                        <input type="email" placeholder="Введите вашу почту" required>
                        <span class="error-text">поле не заполненно</span>
                    </div>
                    <div class="mailing__check-row">
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <i class="checkbox-custom"></i>
                            Женщинам
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <i class="checkbox-custom"></i>
                            Мужчинам
                        </label>
                    </div>
                </div>
                <button class="mailing__btn btn btn-send-form">отправить</button>
            </form>
        </div>
    </div>
</div>